CodeMetropolis.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="attribute">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:string" name="name" use="optional"/>
          <xs:attribute type="xs:string" name="value" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="position">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="x" use="optional"/>
          <xs:attribute type="xs:int" name="y" use="optional"/>
          <xs:attribute type="xs:int" name="z" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="size">
    <xs:complexType>
      <xs:simpleContent>
        <xs:extension base="xs:string">
          <xs:attribute type="xs:int" name="x" use="optional"/>
          <xs:attribute type="xs:int" name="y" use="optional"/>
          <xs:attribute type="xs:int" name="z" use="optional"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
  </xs:element>
  <xs:element name="attributes">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="attribute" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="children">
    <xs:complexType mixed="true">
      <xs:sequence>
        <xs:element ref="buildable" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="buildable">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="position"/>
        <xs:element ref="size"/>
        <xs:element ref="attributes"/>
        <xs:element ref="children"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="id" use="optional"/>
      <xs:attribute type="xs:string" name="name" use="optional"/>
      <xs:attribute type="xs:string" name="type" use="optional"/>
    </xs:complexType>
  </xs:element>
  <xs:element name="buildables">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="buildable"/>
      </xs:sequence>
      <xs:attribute type="xs:string" name="from"/>
      <xs:attribute type="xs:string" name="to"/>
      <xs:attribute type="xs:float" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>

